html{
	background-color: lightgrey;
}
.soundcloud{
	text-align: center;
}

.cloud-grid{
	margin: 30px;
	height: 140px;
	width: 113px;
	float: right;
	// overflow: auto;
}

.titleblock{
	font-size: 9px;
	color: blue;
}

.name{
	font-size: 13px;
}

audio{
	width: 610px;
}

input{
	width: 480px;
}

button{
	width: 98px;
}

.bottomInfo{
	font-size: 9px;
	text-align: left;
}
 .topborder{
 	text-align: left
 }